body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol,
ul {
  padding-left: 30px;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}

.button_history {
  &_current {
    border: 2px solid black;
  }
}

@each $direction,
  $angle
    in (
      "horizontal": 0deg,
      "vertical": 90deg,
      "diag-positive": 45deg,
      "diag-negative": -45deg
    )
{
  .strikethrough {
    &-#{$direction} {
      background-color: transparent;

      background-image: repeating-linear-gradient(
        #{$angle},
        transparent 0%,
        transparent 46%,
        #000 50%,
        transparent 54%,
        transparent 100%
      );
    }
  }
}
